[Unit]
Description=Run My Python Scripts on Startup
After=network.target

[Service]
Type=simple
ExecStart= bin/bash -c "source /home/handson/verteilteSysteme/env/bin/activate && python3 main.py"
ExecStartPost= bin/bash -c "source /home/handson/verteilteSysteme/env/bin/activate && python3 flaskServer.py"
Restart=on-failure

[Install]
WantedBy=multi-user.target